{% extends 'base.html.twig' %}

{% block title %}Nos partenaires{% endblock %}

{% block body %}
    <h1>Nos partenaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Activation</th>
                <th>Email</th>
                <th>Contact commercial</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.id }}</td>
                <td>{{ partner.name }}</td>
                <td>{{ partner.description }}</td>
                <td>{{ partner.activate ? 'Yes' : 'No' }}</td>
                <td>{{ partner.email }}</td>
                <td>{{ partner.commercialContact }}</td>
                <td>
                    <a href="{{ path('app_admin_partner_show', {'id': partner.id}) }}">Sélectionner</a>
                    <a href="{{ path('app_admin_partner_edit', {'id': partner.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun partenaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_partner_new') }}">Créer un nouveau partenaire</a>
{% endblock %}
